<div class="appointment-list item-list mb-3">
    <div class="pet-item col media py-3"
        *ngFor="let apt of aptList; index as appIndex" >
        <div class="mr-3">
            <button class="pet-delete btn btn-sm btn-danger" (click)="handleDelete(apt)">
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div><!-- media-left -->

        <div class="pet-info media-body">
            <div class="pet-head d-flex">
                <span class="pet-name" contenteditable="true"
                    #petName (blur)="handleUpdate(apt, 'petName', petName.innerText)">{{apt.petName}}</span>
                <span class="apt-date ml-auto">{{apt.aptDate | date: 'M/d h:mm a'}}</span>
            </div><!-- pet-head -->

            <div class="owner-name">
                <span class="label-item">Owner: </span>
                <span contenteditable="true"
                #ownerName (blur)="handleUpdate(apt, 'ownerName', ownerName.innerText)">{{apt.ownerName}}</span>
            </div>
            <div class="apt-notes" contenteditable="true"
                #aptNotes (blur)="handleUpdate(apt, 'aptNotes', aptNotes.innerText)">{{apt.aptNotes}}</div>
        </div><!-- pet-info -->
    </div><!-- pet-item -->
</div><!-- appointment-list -->