<div class="appointment-list item-list mb-3">
    <div class="pet-item col media py-3"
        *ngFor="let apt of aptList" >
        <div class="mr-3">
            <button class="pet-delete btn btn-sm btn-danger" (click)="handleDelete(apt)">
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div><!-- media-left -->

        <div class="pet-info media-body">
            <div class="pet-head d-flex">
                <span class="pet-name" contenteditable="true">{{apt.petName | uppercase}}</span>
                <span class="apt-date ml-auto">{{apt.aptDate | date: 'M/d h:mm a'}}</span>
            </div><!-- pet-head -->

            <div class="owner-name">
                <span class="label-item">Owner: </span>
                <span contenteditable="true">{{apt.ownerName}}</span>
            </div>
            <div class="apt-notes" contenteditable="true">{{apt.aptNotes}}</div>
        </div><!-- pet-info -->
    </div><!-- pet-item -->
</div><!-- appointment-list -->